{% extends 'base.html.twig' %}

{% block title %}Co-habiter avec le chantier
{% endblock %}

{% block body %}

	<div class="flex py-35">

		<div id="elements" class="w-1/2 p-8 items-center justify-center">
			<h2 class="text-2xl font-bold mb-4 text-center bg-sky-300 p-4 text-white">
				Les éléments du chantier
			</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi in assumenda temporibus libero? Corporis reiciendis, distinctio aliquid, reprehenderit voluptates eum excepturi inventore natus in earum, aperiam sunt adipisci porro eaque accusantium a. Numquam dolor sequi perspiciatis ex illo quos hic? Earum, voluptas fugit cum tenetur, neque harum ullam beatae ea maxime repudiandae nostrum nobis eum voluptatibus minima quidem officia. Est aliquam, cumque maxime praesentium numquam, quasi rem incidunt hic recusandae eligendi magnam amet ipsa magni odio debitis minima dolore reprehenderit autem placeat sed. Necessitatibus ut quos illo sunt omnis aperiam.</p>


		</div>
		<div id="bruits" class="w-1/2 p-8 items-center justify-center">
			<h2 class="text-2xl font-bold mb-4 text-center bg-sky-300 p-4 text-white">
				Les bruits
			</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi in assumenda temporibus libero? Corporis reiciendis, distinctio aliquid, reprehenderit voluptates eum excepturi inventore natus in earum, aperiam sunt adipisci porro eaque accusantium a. Numquam dolor sequi perspiciatis ex illo quos hic? Earum, voluptas fugit cum tenetur, neque harum ullam beatae ea maxime repudiandae nostrum nobis eum voluptatibus minima quidem officia. Est aliquam, cumque maxime praesentium numquam, quasi rem incidunt hic recusandae eligendi magnam amet ipsa magni odio debitis minima dolore reprehenderit autem placeat sed. Necessitatibus ut quos illo sunt omnis aperiam.</p>
		</div>

	</div>
{% endblock %}
