{% extends 'base.html.twig' %}

{% block title %}Habitants de la Dalle Robespierre{% endblock %}

{% block body %}
 
<h1 class="text-center text-5xl font-bold space-y-10">
  Les habitants de la Dalle Robespierre
</h1>

<div class="w-full flex flex-col items-center mt-[50px]">
  {% for port in portraits %}

    <div class="w-[80%] flex justify-center">
      <img 
        class="w-full object-cover"
        src="{{ asset('uploads/media/' ~ port.mediaPortraits[0].contenu )}}" 
        alt="photo de {{ port.prenom }}"
      > 
    </div>

    <h3 class="text-xl text-center mt-4">
      {{ port.prenom }}
    </h3>
    
  {% endfor %}
</div>

{% endblock %}