{% extends 'base.html.twig' %}

{% block title %}Habitants de la Dalle Robespierre{% endblock %}

{% block body %}

<div class="corps-content flex flex-col items-center pt-40">
  <h1 class="text-center text-5xl font-bold">
    Les habitants de la Dalle Robespierre
  </h1>

  <div class="w-full flex flex-col items-center gap-12 mt-16"> 
    {% for port in portraits %}
      <a href="{{path('app_portrait_habitant',{id: port.id}) }}">
      <div class="w-1/5">
        <img class="object-cover w-full"
             src="{{ asset('uploads/media/' ~ port.mediaPortraits[0].contenu )}}" 
             alt="photo de {{ port.prenom }}">
      </div>
      <h3 class="text-lg text-center">{{ port.prenom }}</h3> 
      </a>
    {% endfor %}
  </div>
</div>

{% endblock %}