{% extends 'base.html.twig' %}

{% block title %}Le chantier de la Dalle Robespierre
{% endblock %}

{% block body %}<canvas id="cuboCanvas" class="absolute inset-0 z-0"></canvas>
	<div class="py-24 items-center text-center justify-center">
		<h1 class="text-4xl font-bold mb-8">Le chantier</h1>
		<div
			class="relative w-full h-[300px] md:h-[500px]">
			
			

			<a href="{{ path('app_culture')}}" data-direction="left" class="menu-link absolute top-1/2 left-[38%] text-white w-20 h-20 rounded-full flex items-center justify-center px-4 py-2 z-10 shadow-lg transition bg-emerald-400">
				La culture
			</a>

			<a href="{{ path('app_memoire_quartier')}}" data-direction="right" class="menu-link absolute top-1/2 left-[57%] text-white w-30 h-30 rounded-full flex items-center justify-center px-4 py-2 z-10 shadow-lg transition bg-rose-500 ">
				La mémoire du quartier
			</a>

			<a href="{{ path('app_co_habiter')}}" data-direction="bottom" class="menu-link absolute bottom-[50px] left-1/2 text-white  w-30 h-30 rounded-full flex items-center justify-center px-4 py-2 z-10 shadow-lg transition bg-sky-300">
				Co-habiter avec le chantier
			</a>

		</div>

	</div>
{% endblock %}