{% extends 'base.html.twig' %}

{% block title %}La mémoire du quartier
{% endblock %}

{% block body %}

	<div class="py-55 px-15">
		<a href="{{path('app_accueil_chantier')}}" class="text-sm hover:underline">
			<i class="fa-solid fa-arrow-left-long fa-beat "></i>
			Retour à l'accueil
		</a>

		<div id="non-habitants" class="w-1/2 p-8 flex gap-8 items-center justify-center">
			<h2 class="text-2xl font-bold mb-4 text-center bg-rose-500 p-4 text-white">Les non-habitants</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi in assumenda temporibus libero? Corporis reiciendis, distinctio aliquid, reprehenderit voluptates eum excepturi inventore natus in earum, aperiam sunt adipisci porro eaque accusantium a. Numquam dolor sequi perspiciatis ex illo quos hic? Earum, voluptas fugit cum tenetur, neque harum ullam beatae ea maxime repudiandae nostrum nobis eum voluptatibus minima quidem officia. Est aliquam, cumque maxime praesentium numquam, quasi rem incidunt hic recusandae eligendi magnam amet ipsa magni odio debitis minima dolore reprehenderit autem placeat sed. Necessitatibus ut quos illo sunt omnis aperiam.</p>


		</div>
		
		<div id="habitants" class="w-1/2 p-8 flex gap-8 items-center justify-center">
			<a href="{{path('app_choix_portrait')}}">
				<h2 class="text-2xl font-bold mb-4 text-center bg-rose-500 p-4 text-white ">Les habitants</h2>
			</a>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi in assumenda temporibus libero? Corporis reiciendis, distinctio aliquid, reprehenderit voluptates eum excepturi inventore natus in earum, aperiam sunt adipisci porro eaque accusantium a. Numquam dolor sequi perspiciatis ex illo quos hic? Earum, voluptas fugit cum tenetur, neque harum ullam beatae ea maxime repudiandae nostrum nobis eum voluptatibus minima quidem officia. Est aliquam, cumque maxime praesentium numquam, quasi rem incidunt hic recusandae eligendi magnam amet ipsa magni odio debitis minima dolore reprehenderit autem placeat sed. Necessitatibus ut quos illo sunt omnis aperiam.</p>
		</div>

	</div>
{% endblock %}
